* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#particle-animation__canvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: oklch(13% 0.028 261.692);
}
